# Chpater 6 Notes
***
<img src = 'https://64.media.tumblr.com/606df8ed781c900a4434c5bf9c106d1c/tumblr_p73ougJENv1tcvan1o1_500.gif' title = 'Chapter 5!' height = 200>

# Dictionary
Unordered collection which stores Key - Value Pairs that map immutable keys to values.
- Does not support slicing

Set - Unordered collection of unique immutable elements

# 6.2 Dictionaries
- Associates keys with values
- Each key maps to a specific values
- Dictionary keys must be immutable and unique
- Multiple keys can have the same value

# Creating a dictionary
<code>{}</code> curly brackets create a dictionary
- Key: Value
- Empty dictionary = {}

In [2]:
country_codes = {'Finland': 'fi', 'South Africa': 'za', 'Nepal': 'np'}
country_codes

{'Finland': 'fi', 'South Africa': 'za', 'Nepal': 'np'}

In [3]:
# Check the number of Key-values
len(country_codes)

3

In [4]:
# Boolean to check if country codes dictionary is empty
if country_codes:
    print('Stuff in here')
else:
    print('Nothing here bub')

Stuff in here

# Iterating through a Dictionary

In [6]:
days_month = {'January': 31, 'February': 28, 'March': 31}
days_month

{'January': 31, 'February': 28, 'March': 31}

In [8]:
for key in days_month:
    print(key)

January
February
March

# items
        .items()
returns a value pair as a tuple

In [10]:
# Using .items()
for key, value in days_month.items():
    print(key, value)

January 31
February 28
March 31

In [12]:
# Roman Numeral Incorrect
roman_numerals = {'I': 1, "II": 2, "III": 3, "IV": 4, "V" : 100}
roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 100}

In [15]:
roman_numerals['V']

100

In [21]:
# Update Value
roman_numerals['V'] = 5
roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'VI': 6, 'V': 5}

In [22]:
# Insert Key
roman_numerals['VI'] = 6
roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'VI': 6, 'V': 5}

In [23]:
# Removing a key
del roman_numerals['V']
roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'VI': 6}

In [25]:
roman_numerals.pop('VI')
roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'IV': 4}

In [28]:
# Accessing keys not in Dictionary
roman_numerals['VI']

KeyError: 'VI'

In [36]:
# Avoid errors from retrieving keys if not found
roman_numerals.get('V')

In [37]:
roman_numerals.get('V','Not in Dictionary')

'Not in Dictionary'

In [38]:
roman_numerals.get('III')

3

In [39]:
'III' in roman_numerals

True

In [40]:
'V' in roman_numerals

False

In [46]:
# Use keys()...You don't actually need to use keys
for month in days_month.keys():
    print(month)

January
February
March

In [47]:
# Use values()
for day in days_month.values():
    print(day)

31
28
31

# Dictionary Views
- Views do not make a copy of the data
- Views references original data
- Do not modify a Dictionary while iterating through a view. (RuntimeError)

In [48]:
months_view = days_month.keys()

for key in months_view:
    print(key, end=' ')

January February March

In [50]:
days_month['December'] = 12
days_month

{'January': 31, 'February': 28, 'March': 31, 'December': 12}

In [51]:
# Notice how DECEMBER shows up!!!
for key in months_view:
    print(key, end=' ')

January February March December

# Dictionary Comparisons
        ==
        !=
You can compare dictionaries to get boolean values

# Python Counter from Collections Library

In [52]:
from collections import Counter

In [55]:
text = ('This is a sample text, what the heck'' This is more text to throw you off')
text

'This is a sample text, what the heck This is more text to throw you off'

In [63]:
counter = Counter(text.split())
counter

Counter({'This': 2,
         'is': 2,
         'a': 1,
         'sample': 1,
         'text,': 1,
         'what': 1,
         'the': 1,
         'heck': 1,
         'more': 1,
         'text': 1,
         'to': 1,
         'throw': 1,
         'you': 1,
         'off': 1})

In [62]:
for word, count in sorted(counter.items()):
    print(f'{word:<10} {count}')

This       2
a          1
heck       1
is         2
more       1
off        1
sample     1
text       1
text,      1
the        1
throw      1
to         1
what       1
you        1

In [64]:
counter

Counter({'This': 2,
         'is': 2,
         'a': 1,
         'sample': 1,
         'text,': 1,
         'what': 1,
         'the': 1,
         'heck': 1,
         'more': 1,
         'text': 1,
         'to': 1,
         'throw': 1,
         'you': 1,
         'off': 1})

# Dictionary Method 
        .update()
- Can convert key arguments into key-value pairs to insert.

In [69]:
country_codes = {}

In [70]:
country_codes.update({'South Africa': 'za'})
country_codes

{'South Africa': 'za'}

In [72]:
country_codes.update(Australia='au')
country_codes

{'South Africa': 'za', 'Australia': 'au'}

# Dictionary Comprehensions

In [76]:
days_month = {'January': 31, 'February': 28, 'March': 31, 'December': 12}
days_month_2 = {number: name for name, number in days_month.items()}
days_month_2

{31: 'March', 28: 'February', 12: 'December'}

In [79]:
grades = {'Sue': [98, 87, 93], 'Moy': [99, 95, 96]}
grades_2 = {k: round(sum(v)/len(v),2) for k, v in grades.items()}
grades_2

{'Sue': 92.67, 'Moy': 96.67}

# Sets
Unordered collection of unique values
- Contains only immutable objects
- Iterable, but do NOT support indexing or slicing

In [2]:
# Creating a set
# Dups are ignored
colors = {'red', 'orange', 'yellow', 'green', 'red', 'blue'}
colors

{'blue', 'green', 'orange', 'red', 'yellow'}

In [10]:
print(f'Red Inside: {"red" in colors}')
print(f'Violet Inside: {"violet" in colors}')

Red Inside: True
Violet Inside: False

# Built in set function
        set()
        empty_set = set({})

In [20]:
numbers = set([1, 2, 3, 3, 3, 4, 5, 6])
numbers

{1, 2, 3, 4, 5, 6}

# Frozenset and More on Sets
- Sets are mutable (Can add or remove elements)
- Set elements must be immutable
- Sets cannot have other sets as elements
- Sets can have frozenset elements

        frozenset()
- Frozenset is an immutable set, cannot be modified after created

# Operands
< tests whether the set on the left is a subset of the set on the right, but not equal to

In [22]:
{1, 2, 3} < {3, 2, 1}

False

In [23]:
{1, 2, 3} < {1, 2, 3, 4}

True

# Improper Subsets
        <=

In [25]:
{1, 2, 3} <= {1, 2, 3}

True

In [28]:
{1, 2} <= {1, 2, 3}

True

# Mathematical Set Operations
Operaters used: |, &, ^, -

In [29]:
# Union
{1, 3, 5} | {2, 3, 4}

{1, 2, 3, 4, 5}

In [30]:
{1, 3, 5}.union({2, 3, 4})

{1, 2, 3, 4, 5}

In [31]:
# Intersection
{1, 3, 5} & {2, 3, 4}

{3}

In [33]:
{1, 3, 5}.intersection([1, 1, 1, 2, 2, 2, 4, 4])

{1}

In [35]:
# Difference
{1, 3, 5} - {2, 3, 4}

{1, 5}

In [37]:
{1, 3, 5}.difference([1, 1, 5, 5, 6, 7, 8])

{3}

In [39]:
# Symmetric Difference
# Not common with each other
{1, 3, 5} ^ {2, 3, 4}

{1, 2, 4, 5}

In [41]:
{1, 3, 5}.symmetric_difference([1, 1, 2, 4, 4, 5, 6])

{2, 3, 4, 6}

In [43]:
# Disjoint
# Nothing in common
{1, 3, 5}.isdisjoint({2, 4, 6})

True

In [45]:
{1, 3, 5}.isdisjoint({1, 4, 6})

False

# Mutable Mathematical Set Operations

In [57]:
numbers = {1, 2, 3}
numbers |= {2, 3, 4}
numbers

{1, 2, 3, 4}

In [58]:
# Update method
numbers.update(range(10))
numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

Other corresponding methods

        intersection_update
        difference_update
        symmetric_difference_update

In [59]:
# Method to add
numbers.add(17)
numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 17}

In [60]:
# Method to remove
numbers.remove(3)
numbers

{0, 1, 2, 4, 5, 6, 7, 8, 9, 17}

In [61]:
# Discard removes as well, but does not cause an exception if element is not there.
numbers.discard(3)
numbers

{0, 1, 2, 4, 5, 6, 7, 8, 9, 17}

In [62]:
# Pop() also removes an item
x = numbers.pop()
print(x, numbers)

0 {1, 2, 4, 5, 6, 7, 8, 9, 17}

In [64]:
# Clear() to empty a set
numbers.clear()
numbers

set()

# Set Comprehensions

In [71]:
numbers = [x for x in range(20)] + [x for x in range(15,26)]
evens = {item for item in numbers if item % 2 == 0}

In [73]:
evens

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24}

# 6.4 Intro to Data Science : Dynamic Visualizations

# Matplotlib
Modules

        animation
        FuncAnimation

# FuncAnimation
Drives a fram by frame animation. Each animation fram specifies everything that should change during one plot update.

In [76]:
# Imports
from matplotlib import animation
import matplotlib.pyplot as plt 
import random
import seaborn as sns
import sys

In [156]:
def update(frame_number, rolls, faces, frequencies):
    """Configures bar plot contents for each animation frame"""
    
    # Roll die and update frequencies
    for i in range(rolls):
        frequencies[random.randrange(1,7)-1] += 1

    # Reconfigure plot for updated die frequencies
    plt.cla() # Clears old contents of previous axis
    axes = sns.barplot(faces, frequencies, palette='bright') # New barplot
    axes.set_title(f'Die Frequencies for {sum(frequencies):,} Rolls')
    axes.set(xlabel='Die Value', ylabel='Frequency')
    axes.set_ylim(top=max(frequencies) * 1.10) # 10 % buffer to show in graph

    # Display frequency & percentage above each patch (bar)
    for bar, frequency in zip(axes.patches, frequencies):
        text_x = bar.getx() + bar.get_width() / 2.0
        text_y = bar.get_height()
        text = f'{frequency:,}\n{frequency / sum(frequencies): .3%}'
        axes.text(text_x, text_y, text, ha='center', va='bottom')
    
# Read command-line arguments for number of frames and rolls per frame
number_of_frames = int(sys.argv[1])
rolls_per_frame = int(sys.argv[2])
print(number_of_frames,rolls_per_frame)

sns.set_style('whitegrid')
figure = plt.figure('Rooling a Six-Sided Die') # Figure for animation
values = list(range(1,7)) # Die faces
frequencies = [0] * 6 # 6 element list of die frequencies

# Configure and start animation that calls function update
die_animation = animation.FuncAnimation(figure, update, repeat=False, frames=number_of_frames, interval=33,
fargs=(rolls_per_frame, values, frequencies))

plt.show() # Displays window

ValueError: invalid literal for int() with base 10: '--ip=127.0.0.1'